name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Compilar con Makefile
      run: make

    - name: Ejecutar Arreglo 1D
      run: ./arreglo_1d < input.txt
      
    #- name: Ejecutar Arreglo 2D
     # run: ./arreglo_2d < input.txt

    #- name: Ejecutar Puntero
     # run: ./puntero < input.txt
