name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Compilar archivos .c
      # Este comando compila todos tus archivos individualmente para ver si tienen errores
      run: |
        gcc "Arreglo 1D.c" -o arreglo1d
        gcc "Arreglo 2D.c" -o arreglo2d
        gcc Arreglo.c -o arreglo
        gcc Puntero.c -o puntero
